<h1>Registro de Empleado</h1>

<div class="row" style"margin-top: 10%;">
    <div class="col"></div>
    <div class="col-6">
        <div class="card" style="padding-left: 20%; padding-right: 20%; padding-top:10px;">
            <%= render 'form' %>
            <%= link_to 'Back', employees_path %>
        </div>
    </div>
    <div class="col"></div>
</div>